body {
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.ui {
  display: flex;
  justify-content: center;
}

#gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid goldenrod;
  width: 960px;
  height: 960px;
}

#sizeButton {
  background-color: gold;
  border: solid goldenrod 2px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}

.gridBox {
  background-color: blanchedalmond;
}